*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
:root{
    --secondary-color: #0084FD;
    --dark-color: #333333;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --bg-card: #B5DDFF;
    --contrast-color: #FDC15F;

}
html{
    scroll-behavior: smooth;
}
/* general */
section{
    scroll-margin-top: 40px;
}
body{
    background-color: var(--light-color);
}
.container{
    padding: 20px;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.8rem;
}
/* utilities */
.upper{
    text-transform: uppercase;
}
.button{
    border-radius: 20px;
}
.small.button{
    padding: 5px 10px;
}
.button.wide{
    padding: 5px 50px;
}
.button.very-wide{
    padding: 10px 50px;
}
.big.button {
    padding: 20px 100px;
    border-radius: 40px;
    font-size: 1.3rem;
}
.bg-w{
    background-color: var(--light-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
}
.hidden{
    display: none;
}
.radius-big{
    border-radius: 60px;
}
/* margins */
.mb-10{
    margin-bottom: 10px;
}
.mt-10{
    margin-top: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-30{
    margin-top: 30px;

}
.mb-50{
    margin-bottom: 50px;
}
.mt-50{
    margin-top: 50px;
}
.mb-80{
    margin-bottom: 80px;
}
/* paddings */
.pt-30{
    padding-top: 30px;
}
.pb-50{
    padding-bottom: 50px;
}
.pt-50{
    padding-top: 50px;
}
.pt-80{
    padding-top: 80px;

}
.pb-100{
    padding-bottom: 100px;
}
/* text utilities */
.text-center{
text-align: center;
}
.text-b{
    color: black;
}
.text-w{
    color: rgb(255, 255, 255);
}
.text-y{
    color: var(--contrast-color);
}
.text-sc{
    color: var(--secondary-color);
}
.text-pc{
    color: var(--primary-color);
}
.text-space{
    letter-spacing: 2px;
}
h4{
    font-size: 1.4rem;
}
h3{
    font-size: 2rem
}
h2{
    font-size: 3.5rem;
}
.text-left{
    text-align: start;
}
.text-big{
    font-size: 3rem;
}
.text-medium{
    font-size: 1.3rem;
}
.text-small{
    font-size: 0.9rem;
}
    /* flex utilities */
.d-flex{
    display: flex;
}
.j-sb{
    justify-content: space-between;
}
.j-c{
    justify-content: center;
}
.align-c{
    align-items: center;
}
.f-col{
    flex-direction: column;
}

/* header */
header{
    background-color: var(--secondary-color);
    color: var(--light-color);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 80px;
}
header ul{
    list-style: none;
}
header a{
    color:var(--light-color);
}
header nav i{
    font-size: 1.6rem;
}

/* main */
main{
    margin-top: 80px;
}
.bg-prim-col{
    background-color: var(--primary-color);
}
.card img, #planning img{
    max-width: 100%;
    display: block;
}
/* intro section */
.card{
    background-color: var(--bg-card);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
}
#intro .phone-wrap{
    max-width: 350px;
}
#intro .card:first-child{
    padding-bottom: 0px;
}
i.fa-apple{
    padding: 5px 10px 5px 0px;
}
div.card>i{
    font-size: 4rem;
}
/* planning section */
div.app-dev{
    width: calc(100% - 20px);
    margin: 0 auto 30px auto;
    padding: 5px;
}

#planning .app-dev a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
#planning .app-dev a i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}
#planning .plan-img-1{
    margin-top: 60px;
}
/* testimonials */
.testimonial-card{
    padding: 30px 20px;
}
.circle-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin: 0 auto;
}
.circle-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#testimonials .card-text p span{
    font-size: 2rem;
}


/* features */
#features .card{
    background-color: var(--light-color);
    padding-bottom: 40px;
}
#features .card.bg-w {
    margin-bottom: 40px;
}

/* about us */
#about-us p{
    line-height: 3rem;
}
#about-us .circle-img{
    margin: 0;
}
#about-us .img-wrap{
    position: relative;
}
#about-us span.accent-text{
    font-size: 15rem;
    position: absolute;
    top: -48px;
    left: 136px;
}
#about-us .col-second-text i{
    margin-right: 15px;
}
#about-us .button.wide{
    padding: 5px 20px;
}
/* call to action */
#call-to-action div.container>span:first-child{
    display: block;
    font-size: 1.3rem;
    opacity: 50%;
}
#call-to-action .copy a{
    color: white;
    text-decoration: underline;
}
#call-to-action h2{
    font-size: 4.5rem;
}
#call-to-action .action-bottom-wrap{
    max-width: 500px;
    margin: 0 auto;
}




/* footer */
footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}
footer .container{
    max-width: 500px;
    margin: 0 auto;
}
footer a{
    color: var(--primary-color);
    text-decoration: underline;
}









/* Responsive */

@media screen and (min-width: 768px){
    /* utilities */
    p{
        line-height: 1.8rem;
    }
    .inner-flex{
        display: flex;
    }
    .container{
        max-width: 900px;
        margin: 0px auto;
    }
    h2{
        font-size: 5rem;
    }

    /* header */
    /* main */
    #intro .card{
        width: calc((100% / 3) - 20px);
    }
    #intro .card:first-child{
        width: calc((100% / 3 * 2) - 20px);
    }
   #intro .container{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
    #intro .card.align-c{
        align-items: flex-start;
    }
    /* testimonials */
    #testimonials .card-text{
        width: 70%;
        padding-left: 30px;
    }
    #testimonials .card-text p{
        text-indent: -10px;
    }

    #testimonials .card-text h4{
        text-align: start;
    }
    #testimonials .circle-img{
        margin: 0;
    }
    /* features */
    #features .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    #features .card{
        width: calc((100% / 2) - 20px);
    }
    #features .card.bg-w {
        margin-bottom: 20px;
    }
    

    /* about us */

    #about-us .col-first{
        width: calc(70% - 10px);
    }
    #about-us .col-second{
        width: calc(30% - 10px);
    }
    #about-us .container {
        display: flex;
        gap: 70px;
        justify-content: space-between;
    }
    #about-us .circle-img{
        margin: 0 auto;
    }
    #about-us span.accent-text {
        left: 150px;
    }

    /* call to action */
    #call-to-action h3{
        font-size: 3rem;
    }
    
    
}






@media screen and (min-width: 1060px){
    /* general */
    .container{
        max-width: 1060px;
        margin: 0px auto;
    }

    /* header */
    #burger{
        display: none;
    }
    header ul.hidden{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    /* main */
    #intro div.card.f-col{
        flex-direction: row;
    }
    #planning .container{
        display: flex;
        align-items: flex-end;
        gap: 60px;
    }
    #planning .plan-img-1{
        margin-bottom: 250px;
    }
    #testimonials .card-text h4{
        padding-left: 20px;
    }

    #features .card{
        width: calc((100% / 3) - 20px);
    }

    /* about us */
    #about-us span.accent-text {
        left: 180px;
    }
    /* call-to-action */
    #call-to-action h2{
        font-size: 6rem;
    }


    /* main */


}